# Data Visualization with Modern Data Science

> Assignment 6

Yao-Jen Kuo <yaojenkuo@ntu.edu.tw> from [DATAINPOINT](https://www.datainpoint.com)

## Instructions

- Due to reduced capacity of mybinder.org, we use Google Colab instead.
- Save a copy for consistency by clicking the `Copy to Drive` button.
- If you accidentally delete some of the cells, just re-click the assignment link again for the original notebook.
- Write down your solution between comments `### BEGIN SOLUTION` and `### END SOLUTION`.
- Running tests to see if your solutions are right:
    - Connect.
    - Runtime -> Restart and run all -> Yes -> Run anyway.
    - Scroll down to the bottom of notebook to see the test result.
- When you are ready to submit, click File -> Download .py.
- Rename the exported Python script with your student ID(e.g. `b01234567.py`) and upload to the Assignment session on NTU COOL.

In [ ]:
import unittest
import numpy as np
import pandas as pd

In [ ]:
!wget -N "https://raw.githubusercontent.com/datainpoint/asgmt-6-data-viz-with-modern-ds-ntu-spring-2022/main/UID_ISO_FIPS_LookUp_Table.csv"
!wget -N "https://raw.githubusercontent.com/datainpoint/asgmt-6-data-viz-with-modern-ds-ntu-spring-2022/main/05-16-2022.csv"
!wget -N "https://raw.githubusercontent.com/datainpoint/asgmt-6-data-viz-with-modern-ds-ntu-spring-2022/main/imdb_top250.csv"

## 01. Define a Python function named `import_lookup_table_and_daily_report()` which imports `UID_ISO_FIPS_LookUp_Table.csv` and `05-16-2022.csv` in working directory.

- Expected inputs: None.
- Expected outputs: `tuple`.

In [ ]:
def import_lookup_table_and_daily_report() -> tuple:
    """
    >>> lookup_table, daily_report = import_lookup_table_and_daily_report()
    >>> type(lookup_table)
    pandas.core.frame.DataFrame
    >>> type(daily_report)
    pandas.core.frame.DataFrame
    >>> lookup_table.shape
    (4317, 12)
    >>> daily_report.shape
    (4011, 14)
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 02. Define a Python function named `inner_join_lookup_table_and_daily_report()` which inner joins `UID_ISO_FIPS_LookUp_Table.csv` and `05-16-2022.csv` on `Combined_Key` in working directory. Select specified columns from the joined result.

- Expected inputs: None.
- Expected outputs: `pandas.core.frame.DataFrame`.

In [ ]:
def inner_join_lookup_table_and_daily_report() -> pd.core.frame.DataFrame:
    """
    >>> lookup_table_and_daily_report = inner_join_lookup_table_and_daily_report()
    >>> type(lookup_table_and_daily_report)
    pandas.core.frame.DataFrame
    >>> lookup_table_and_daily_report.shape
    (4009, 9)
    >>> print(lookup_table_and_daily_report)
              Admin2 Province_State Country_Region             Combined_Key  \
    0            NaN            NaN    Afghanistan              Afghanistan   
    1            NaN            NaN        Albania                  Albania   
    2            NaN            NaN     Antarctica               Antarctica   
    3            NaN            NaN        Algeria                  Algeria   
    4            NaN            NaN        Andorra                  Andorra   
    ...          ...            ...            ...                      ...   
    4004  Sweetwater        Wyoming             US  Sweetwater, Wyoming, US   
    4005       Teton        Wyoming             US       Teton, Wyoming, US   
    4006       Uinta        Wyoming             US       Uinta, Wyoming, US   
    4007    Washakie        Wyoming             US    Washakie, Wyoming, US   
    4008      Weston        Wyoming             US      Weston, Wyoming, US   

          Confirmed  Deaths  Population  Incident_Rate  Case_Fatality_Ratio  
    0        179321    7691  38928341.0     460.643828             4.288957  
    1        275621    3497   2877800.0    9577.489749             1.268771  
    2            11       0         NaN            NaN             0.000000  
    3        265823    6875  43851043.0     606.195387             2.586307  
    4         42156     153     77265.0   54560.279557             0.362938  
    ...         ...     ...         ...            ...                  ...  
    4004      11088     126     42343.0   26186.146470             1.136364  
    4005      10074      16     23464.0   42933.856120             0.158825  
    4006       5643      39     20226.0   27899.733017             0.691122  
    4007       2359      44      7805.0   30224.215247             1.865197  
    4008       1588      18      6927.0   22924.787065             1.133501  

    [4009 rows x 9 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 03. Define a Python function named `create_combined_keys()` which replicate the column `Combined_Key` but concatenating `Country_Region`, `Province_State`, and `Admin2` with different order and a different separator `-` from the output of `inner_join_lookup_table_and_daily_report()`.

- Expected inputs: None.
- Expected outputs: `pandas.core.series.Series`.

In [ ]:
def create_combined_keys() -> pd.core.series.Series:
    """
    >>> combined_keys = create_combined_keys()
    >>> type(combined_keys)
    pandas.core.series.Series
    >>> combined_keys.shape
    (4009,)
    >>> combined_keys
    0                 Afghanistan
    1                     Albania
    2                  Antarctica
    3                     Algeria
    4                     Andorra
                    ...          
    4004    US-Wyoming-Sweetwater
    4005         US-Wyoming-Teton
    4006         US-Wyoming-Uinta
    4007      US-Wyoming-Washakie
    4008        US-Wyoming-Weston
    Name: Country_Region, Length: 4009, dtype: object
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 04. Define a Python function named `calculate_incident_rate_by_country_region()` which replicate the column `Incident_Rate` from the output of `inner_join_lookup_table_and_daily_report()` but calculate in country-level.

\begin{equation}
\text{Incident Rate} = \frac{\text{Confirmed}}{\text{Population}} \times 100000
\end{equation}

PS Exclude data with 0 population.

- Expected inputs: None.
- Expected outputs: `pandas.core.series.Series`.

In [ ]:
def calculate_incident_rate_by_country_region() -> pd.core.series.Series:
    """
    >>> incident_rate_by_country_region = calculate_incident_rate_by_country_region()
    >>> type(incident_rate_by_country_region)
    pandas.core.series.Series
    >>> incident_rate_by_country_region.shape
    (194,)
    >>> incident_rate_by_country_region
    Country_Region
    Afghanistan             460.643828
    Albania                9577.489749
    Algeria                 606.195387
    Andorra               54560.279557
    Angola                  302.093928
                              ...     
    Vietnam               10990.688040
    West Bank and Gaza    12885.226376
    Yemen                    39.626543
    Zambia                 1744.347082
    Zimbabwe               1678.209144
    Length: 194, dtype: float64
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 05. Define a Python function named `find_countries_incident_rate()` which retrieves the data given a `country_list` from the output of `calculate_incident_rate_by_country_region()`.

```python
country_list = ["US", "United Kingdom", "France", "Germany", "Canada", "Korea, South", "Japan", "Singapore", "Australia", "Taiwan*", "New Zealand"]
```

- Expected inputs: None.
- Expected outputs: `pandas.core.series.Series`.

In [ ]:
def find_countries_incident_rate() -> pd.core.series.Series:
    """
    >>> countries_incident_rate = find_countries_incident_rate()
    >>> type(countries_incident_rate)
    pandas.core.series.Series
    >>> countries_incident_rate.shape
    (11,)
    >>> countries_incident_rate
    Country_Region
    Taiwan*            3486.017733
    Japan              6651.047785
    Canada            10036.393768
    Singapore         21199.321134
    New Zealand       22029.356414
    US                24860.092964
    Australia         26329.041583
    Germany           31048.518279
    United Kingdom    33336.954174
    Korea, South      34778.063462
    France            43126.260411
    dtype: float64
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 06. Define a Python function named `calculate_case_fatality_ratio_by_country_region()` which replicate the column `Case_Fatality_Ratio` from the output of `inner_join_lookup_table_and_daily_report()` but calculate in country-level.

\begin{equation}
\text{Case Fatality Ratio} = \frac{\text{Deaths}}{\text{Confirmed}} \times 100
\end{equation}

- Expected inputs: None.
- Expected outputs: `pandas.core.series.Series`.

In [ ]:
def calculate_case_fatality_ratio_by_country_region() -> pd.core.series.Series:
    """
    >>> case_fatality_ratio_by_country_region = calculate_case_fatality_ratio_by_country_region()
    >>> type(case_fatality_ratio_by_country_region)
    pandas.core.series.Series
    >>> case_fatality_ratio_by_country_region.shape
    (199,)
    >>> case_fatality_ratio_by_country_region
    Country_Region
    Afghanistan              4.288957
    Albania                  1.268771
    Algeria                  2.586307
    Andorra                  0.362938
    Angola                   1.913644
                              ...    
    West Bank and Gaza       0.860604
    Winter Olympics 2022     0.000000
    Yemen                   18.182587
    Zambia                   1.242048
    Zimbabwe                 2.198604
    Length: 199, dtype: float64
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 07. Define a Python function named `unify_countries_ir_and_cfr()` which unifies the incident rate and case fatality given a `country_list`.

```python
country_list = ["US", "United Kingdom", "France", "Germany", "Canada", "Korea, South", "Japan", "Singapore", "Australia", "Taiwan*", "New Zealand"]
```

- Expected inputs: None.
- Expected outputs: `pandas.core.frame.DataFrame`.

In [ ]:
def unify_countries_ir_and_cfr() -> pd.core.frame.DataFrame:
    """
    >>> countries_ir_and_cfr = unify_countries_ir_and_cfr()
    >>> type(countries_ir_and_cfr)
    pandas.core.frame.DataFrame
    >>> countries_ir_and_cfr.shape
    (11, 3)
    >>> print(countrys_ir_and_cfr)
        Country_Region  Incident_Rate  Case_Fatality_Ratio
    0      New Zealand   22029.356414             0.087980
    1        Singapore   21199.321134             0.110141
    2        Australia   26329.041583             0.117435
    3          Taiwan*    3486.017733             0.132128
    4     Korea, South   34778.063462             0.133317
    5            Japan    6651.047785             0.358545
    6           France   43126.260411             0.505482
    7          Germany   31048.518279             0.533395
    8   United Kingdom   33336.954174             0.795450
    9           Canada   10036.393768             1.049803
    10              US   24860.092964             1.210265
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 08. Define a Python function named `melt_countries_ir_cfr()` which transforms the output of `unify_countries_ir_and_cfr` from wide format to long format.

- Expected inputs: None.
- Expected outputs: `pandas.core.frame.DataFrame`.

In [ ]:
def melt_countries_ir_cfr() -> pd.core.frame.DataFrame:
    """
    >>> countries_ir_cfr_long = melt_countries_ir_cfr()
    >>> type(countries_ir_cfr_long)
    pandas.core.frame.DataFrame
    >>> countries_ir_cfr_long.shape
    (22, 3)
    >>> print(countries_ir_cfr_long)
        Country_Region             Variable         Value
    0      New Zealand  Case_Fatality_Ratio      0.087980
    1        Singapore  Case_Fatality_Ratio      0.110141
    2        Australia  Case_Fatality_Ratio      0.117435
    3          Taiwan*  Case_Fatality_Ratio      0.132128
    4     Korea, South  Case_Fatality_Ratio      0.133317
    5            Japan  Case_Fatality_Ratio      0.358545
    6           France  Case_Fatality_Ratio      0.505482
    7          Germany  Case_Fatality_Ratio      0.533395
    8   United Kingdom  Case_Fatality_Ratio      0.795450
    9           Canada  Case_Fatality_Ratio      1.049803
    10              US  Case_Fatality_Ratio      1.210265
    11         Taiwan*        Incident_Rate   3486.017733
    12           Japan        Incident_Rate   6651.047785
    13          Canada        Incident_Rate  10036.393768
    14       Singapore        Incident_Rate  21199.321134
    15     New Zealand        Incident_Rate  22029.356414
    16              US        Incident_Rate  24860.092964
    17       Australia        Incident_Rate  26329.041583
    18         Germany        Incident_Rate  31048.518279
    19  United Kingdom        Incident_Rate  33336.954174
    20    Korea, South        Incident_Rate  34778.063462
    21          France        Incident_Rate  43126.260411
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 09. Define a Python function named `import_imdb_top250()` which imports `imdb_top250.csv` in working directory.

- Expected inputs: None.
- Expected outputs: `pandas.core.frame.DataFrame`.

In [ ]:
def import_imdb_top250() -> pd.DataFrame:
    """
    >>> imdb_top250 = import_imdb_top250()
    >>> type(imdb_top250)
    pandas.core.frame.DataFrame
    >>> imdb_top250.shape
    (250, 2)
    >>> print(imdb_top250)
                                 Rank & Title  IMDb Rating
    0    1.  The Shawshank Redemption  (1994)          9.2
    1               2.  The Godfather  (1972)          9.2
    2             3.  The Dark Knight  (2008)          9.0
    3      4.  The Godfather: Part II  (1974)          9.0
    4                5.  12 Angry Men  (1957)          8.9
    ..                                    ...          ...
    245                 246.  Aladdin  (1992)          8.0
    246                247.  The Help  (2011)          8.0
    247    248.  Beauty and the Beast  (1991)          8.0
    248      249.  Dances with Wolves  (1990)          8.0
    249                  250.  Rififi  (1955)          8.0

    [250 rows x 2 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## 10. Define a Python function named `tidy_imdb_top250()` that is able to tidy the dataframe obtained from the previous question into a desired format.

- Expected inputs: None.
- Expected outputs: `pandas.core.frame.DataFrame`.

In [ ]:
def tidy_imdb_top250() -> pd.DataFrame:
    """
    >>> tidied_imdb_top250 = tidy_imdb_top250()
    >>> type(tidied_imdb_top250)
    pandas.core.frame.DataFrame
    >>> tidied_imdb_top250.shape
    (250, 4)
    >>> print(tidied_imdb_top250)
         rank                     title release_year  rating
    0       1  The Shawshank Redemption         1994     9.2
    1       2             The Godfather         1972     9.2
    2       3           The Dark Knight         2008     9.0
    3       4    The Godfather: Part II         1974     9.0
    4       5              12 Angry Men         1957     8.9
    ..    ...                       ...          ...     ...
    245   246                   Aladdin         1992     8.0
    246   247                  The Help         2011     8.0
    247   248      Beauty and the Beast         1991     8.0
    248   249        Dances with Wolves         1990     8.0
    249   250                    Rififi         1955     8.0

    [250 rows x 4 columns]
    """
    ### BEGIN SOLUTION
    
    ### END SOLUTION

## End of assignment, ignore the following cells.

In [ ]:
class TestAssignmentSix(unittest.TestCase):
    def test_01_import_lookup_table_and_daily_report(self):
        lookup_table, daily_report = import_lookup_table_and_daily_report()
        self.assertIsInstance(lookup_table, pd.core.frame.DataFrame)
        self.assertEqual(lookup_table.shape, (4317, 12))
        self.assertIsInstance(daily_report, pd.core.frame.DataFrame)
        self.assertEqual(daily_report.shape, (4011, 14))
    def test_02_inner_join_lookup_table_and_daily_report(self):
        lookup_table_and_daily_report = inner_join_lookup_table_and_daily_report()
        self.assertIsInstance(lookup_table_and_daily_report, pd.core.frame.DataFrame)
        self.assertEqual(lookup_table_and_daily_report.shape, (4009, 9))
    def test_03_create_combined_keys(self):
        combined_keys = create_combined_keys()
        self.assertIsInstance(combined_keys, pd.core.series.Series)
        self.assertEqual(combined_keys.shape, (4009,))
        self.assertIn("Afghanistan", combined_keys.values)
        self.assertIn("Albania", combined_keys.values)
        self.assertIn("US-Wyoming-Uinta", combined_keys.values)
        self.assertIn("US-Wyoming-Washakie", combined_keys.values)
        self.assertIn("US-Wyoming-Weston", combined_keys.values)
    def test_04_calculate_incident_rate_by_country_region(self):
        incident_rate_by_country_region = calculate_incident_rate_by_country_region()
        self.assertIsInstance(incident_rate_by_country_region, pd.core.series.Series)
        self.assertEqual(incident_rate_by_country_region.shape, (194,))
        self.assertIn("Afghanistan", incident_rate_by_country_region.index)
        self.assertIn("Albania", incident_rate_by_country_region.index)
        self.assertIn("Yemen", incident_rate_by_country_region.index)
        self.assertIn("Zambia", incident_rate_by_country_region.index)
        self.assertIn("Zimbabwe", incident_rate_by_country_region.index)
    def test_05_find_countries_incident_rate(self):
        countries_incident_rate = find_countries_incident_rate()
        self.assertIsInstance(countries_incident_rate, pd.core.series.Series)
        self.assertEqual(countries_incident_rate.shape, (11,))
        country_list = ["US", "United Kingdom", "France", "Germany", "Canada", "Korea, South", "Japan", "Singapore", "Australia", "Taiwan*", "New Zealand"]
        for country in country_list:
            self.assertIn(country, countries_incident_rate.index)
    def test_06_calculate_case_fatality_ratio_by_country_region(self):
        case_fatality_ratio_by_country_region = calculate_case_fatality_ratio_by_country_region()
        self.assertIsInstance(case_fatality_ratio_by_country_region, pd.core.series.Series)
        self.assertEqual(case_fatality_ratio_by_country_region.shape, (199,))
        self.assertIn("Afghanistan", case_fatality_ratio_by_country_region.index)
        self.assertIn("Albania", case_fatality_ratio_by_country_region.index)
        self.assertIn("Yemen", case_fatality_ratio_by_country_region.index)
        self.assertIn("Zambia", case_fatality_ratio_by_country_region.index)
        self.assertIn("Zimbabwe", case_fatality_ratio_by_country_region.index)
    def test_07_unify_countries_ir_and_cfr(self):
        countries_ir_and_cfr = unify_countries_ir_and_cfr()
        self.assertIsInstance(countries_ir_and_cfr, pd.core.frame.DataFrame)
        self.assertEqual(countries_ir_and_cfr.shape, (11, 3))
        country_list = ["US", "United Kingdom", "France", "Germany", "Canada", "Korea, South", "Japan", "Singapore", "Australia", "Taiwan*", "New Zealand"]
        for country in country_list:
            self.assertIn(country, countries_ir_and_cfr["Country_Region"].values)
    def test_08_melt_countries_ir_cfr(self):
        countries_ir_cfr_long = melt_countries_ir_cfr()
        self.assertIsInstance(countries_ir_cfr_long, pd.core.frame.DataFrame)
        self.assertEqual(countries_ir_cfr_long.shape, (22, 3))
        country_list = ["US", "United Kingdom", "France", "Germany", "Canada", "Korea, South", "Japan", "Singapore", "Australia", "Taiwan*", "New Zealand"]
        for country in country_list:
            self.assertIn(country, countries_ir_cfr_long["Country_Region"].unique())
        self.assertIn("Case_Fatality_Ratio", countries_ir_cfr_long.iloc[:, 1].unique())
        self.assertIn("Incident_Rate", countries_ir_cfr_long.iloc[:, 1].unique())
    def test_09_import_imdb_top250(self):
        imdb_top250 = import_imdb_top250()
        self.assertIsInstance(imdb_top250, pd.core.frame.DataFrame)
        self.assertEqual(imdb_top250.shape, (250, 2))
    def test_10_tidy_imdb_top250(self):
        tidied_imdb_top250 = tidy_imdb_top250()
        self.assertIsInstance(tidied_imdb_top250, pd.core.frame.DataFrame)
        self.assertEqual(tidied_imdb_top250.shape, (250, 4))
        self.assertIn("The Shawshank Redemption", tidied_imdb_top250.iloc[:, 1].values)
        self.assertIn("The Godfather", tidied_imdb_top250.iloc[:, 1].values)
        self.assertIn("The Dark Knight", tidied_imdb_top250.iloc[:, 1].values)
        self.assertIn("Beauty and the Beast", tidied_imdb_top250.iloc[:, 1].values)
        self.assertIn("Dances with Wolves", tidied_imdb_top250.iloc[:, 1].values)
        self.assertEqual(tidied_imdb_top250.iloc[:, 0].nunique(), 250)
        
suite = unittest.TestLoader().loadTestsFromTestCase(TestAssignmentSix)
runner = unittest.TextTestRunner(verbosity=2)
test_results = runner.run(suite)
number_of_failures = len(test_results.failures)
number_of_errors = len(test_results.errors)
number_of_test_runs = test_results.testsRun
number_of_successes = number_of_test_runs - (number_of_failures + number_of_errors)

In [ ]:
print("You've got {} successes among {} questions.".format(number_of_successes, number_of_test_runs))